{% comment %}
   humanize: For the "apnumber" filter, to display "two" instead of
   "2". Requries 'django.contrib.humanize' in INSTALLED_APPS
{% endcomment %}
{% load humanize %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <title>BikeShed</title>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <meta name="viewport" content="width=device-width"/>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script src="{% static 'js/app.js' %}"></script>
      <link rel="stylesheet" href="{% static 'css/base_template.css' %}">
      <link rel="stylesheet" href="{% static 'css/bike_list.css' %}">
      <link rel="stylesheet" href="{% static 'css/bike_details.css' %}">
      <link rel="stylesheet" href="{% static 'css/add_bike.css' %}">
   </head>
<body>
  <div class="page-title">{% block title %}{% endblock %}</div>
  <div class="nav-bar">
    <a class="the-bikeshed" href="/">The Bikeshed</a>
    {% if request.path != '/add_bike' %}
      <a class="add-bike-link" href="/add_bike">Add Bike</a>
    {% endif %}
  </div>
   <div class="content">
     {% block content %}
     {% endblock %}
   </div>
   <script language="javascript">
   </script>
</body></html>
