{% extends 'bikeshedapp/base_template.html' %}
{% block title %}Homepage{% endblock %}
{% block content %}
  <div>
    {% for bike in object_list %}
       <div class="bikeTile" onclick="location.href='/bike_details/{{ bike.id }}'">
         <div class="bikeTileImage"
              style="background: url({{ bike.image.url }}) no-repeat center top;
                     background-size: contain;">
         </div>
         <div class="modelName">{{ bike.model }}</div>
         <div class="price">{{ bike.price }}</div>
       </div>
    {% endfor %}
  </div>
{% endblock %}
