.add_Bike_form {
  width: 100%;
}

.left_form, .right_form {
  width: 50%;
  height: 100%;
  float: left;
}

.field {
  float: left;
  margin: 10px;
}

.dropDownField {
  width: 100%;
}

.dropDownField > select {
  width: 50%;
}

.fullRowInput {
  width: 100%;
}

.fullRowInput > label {
  width: 20%;
}

.fullRowInput > input {
  width: 80%;
}

.modelField > label {
  margin-right: 10px;
}

.priceSizeRow {
  width: 100%;
}

.priceField {
  widht: 75%;
}

.priceField > label {
  margin-right: 7px;
}

.descriptionLabel {
  width: 100%;
}

.descriptionField {
  width: 100%;
}

.descriptionField > textarea {
  width: 95%;
  lines: 5;
}

.chosenImage {
  width: 50%;
  display: block;
  margin: auto;
  float: none;
}

.imageField {
  float: none;
}

.imageField > input {
  margin: auto;
  float: none;
  display: block;
}

.submit_div {
  width: 100%;
  float: left;
}

.addBikeButton {
  margin-left: 50px;
}
