.add-Bike-form {
  width: 100%;
}

.left-form, .right-form {
  width: 50%;
  height: 100%;
  float: left;
}

.field {
  float: left;
  margin: 10px;
}

.drop-down-field {
  width: 100%;
}

.drop-down-field > select {
  width: 50%;
}

.full-row-input {
  width: 100%;
}

.full-row-input > label {
  width: 20%;
}

.full-row-input > input {
  width: 80%;
}

.model-field > label {
  margin-right: 10px;
}

.price-size-row {
  width: 100%;
}

.price-field {
  widht: 75%;
}

.price-field > label {
  margin-right: 7px;
}

.description-label {
  width: 100%;
}

.description-field {
  width: 100%;
}

.description-field > textarea {
  width: 95%;
  lines: 5;
}

.image-field {
  float: none;
  margin-left: 50px;
}

.image-field > input {
  margin: auto;
  float: none;
  display: block;
}

.submit-div {
  width: 100%;
  float: left;
}

.add-bike-button {
  margin-left: 50px;
}

#chosen-image {
  float: none;
  margin: auto;
  display: block;
  width: 50%;
  height: 300px;
}
