html {
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
}

.body {
  margin: 0px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover, .pointer {
  cursor:pointer;
}

.page-title {
  height: 50px;
  font-size: 40px;
  margin: 20px 5px;
}

.nav-bar {
  height: 50px;
  background: #aaaaaa;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 100%;
}

.the-bikeshed {
  line-height: 50px;
  float: left;
  margin-left: 20px;
  font-size: 30px;
}

.add-bike-link {
  line-height: 50px;
  float: right;
  margin-right: 20px;
}

.content {
  padding-top: 20px;
  width: 100%;
  max-width: 1000px;
  margin: auto;
}
