.upper-info {
  width: 100%;
}

.bike-image {
  width: 35%;
  max-width: 350px;
  float: left;
  height: 350px;
}

.bike-info-container {
  width: 35%;
  height: 100%;
  float: left;
}

.bike-info {
  padding-top: 50px;
}

.brand-info {
  width: 30%;
  height: 100%;
  float: left;
}

.info-piece {
  margin: 10px;
}

.brand-image {
  width: 50%;
  height: 150px;
  margin: auto;
}

.brand-name {
  text-align: center;
  width: 100%;
  height:
}

.upper-info, .lower-info {
  width: 100%;
  float: left;
}

.lower-info {
  margin-top: 20px;
}

.headline {
  font-size: 30px;
  margin-bottom: 10px;
}

.headline, .description {
  float: left;
  width: 100%;
}
