.upper_info {
  height: 350px;
  width: 100%;
}

.bikeImage {
  width: 35%;
  max-width: 350px;
  float: left;
}

.bike_info_container {
  width: 35%;
  height: 100%;
  float: left;
}

.bike_info {
  padding: 80px;
}

.brand_info {
  width: 30%;
  height: 100%;
  float: left;
}

.info_piece {
  margin: 10px;
}

.brand_image {
  width: 120px;
  height: 120px;
  display: block;
  margin: auto;
}

.brand_name {
  text-align: center;
  width: 100%;
  height:
}

.upper_info, .lower_info {
  width: 100%;
  float: left;
}

.lower_info {
  margin-top: 20px;
}

.headline {
  font-size: 30px;
  margin-bottom: 10px;
}

.headline, .description {
  float: left;
  width: 100%;
}
